@import "tailwindcss";

:root {
  --background: #050511;
  --foreground: #e0e0e0;
  --color-primary: #050511;
  --color-accent: #B026FF;
  --color-cyan: #00f3ff;
  --color-magenta: #ff0055;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-syne: var(--font-syne);
  --font-inter: var(--font-inter);
}

body {
  font-family: var(--font-inter), sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-syne), sans-serif;
}
